<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="max-w-3xl m-auto mt-4 space-y-4">
      <div class="flex justify-between items-center border-b border-gray-300">
        <h1 class="text-4xl">Personal Blog</h1>
        <a  
          href="/admin/new"
          class="px-2 py-1 bg-blue-600 text-white h-max hover:bg-blue-700 rounded"
          >+ New Article</a
        >
      </div>

      <ul class="flex flex-col gap-2">
        <% for(let article of articles) {%> 
          
          <li class="flex justify-between items-center gap-4">
            <a href="/article/<%= article.id%>" class="flex-1"><%= article.articleTitle%></a>
            <div class="flex items-center gap-4">
              <a href="/admin/edit/<%= article.id%>" class="text-gray-400 border-b border-transparent hover:text-gray-500 hover:border-gray-400">Edit</a>
              <form action="/admin/delete-article" method="post" >
                <input type="hidden" name="articleId" value="<%= article.id%>">
                <button type="submit" class="text-gray-400 border-b border-transparent hover:text-gray-500 hover:border-gray-400">Delete</button>
              </form>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
