<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal website</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="max-w-3xl m-auto mt-4 flex flex-col gap-1">
      <a href="/" class="pb-1 hover:underline"> Back </a>

      <div class="flex flex-col gap-2">
        <h1 class="text-4xl"><%= article.articleTitle%></h1>
        <p class="text-gray-500">
          <time datetime="2026-03-04"
            ><%= new Date(article.publishDate).toLocaleString("en-US") %></time
          >
        </p>
        <div class="">
          <% for(let content of contentArray) {%>
            <p class="mb-2"><%= content%></p>
          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
