<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="max-w-3xl m-auto mt-4 space-y-4">
      <h1 class="text-4xl">Personal Blog</h1>

      <ul class="flex flex-col gap-1">
        <li class="flex justify-between">
          <a href="/article/1">Lorem ipsum dolor sit amet.</a
          ><span class="text-gray-500">March 04,2026</span>
        </li>
        <li class="flex justify-between">
          <a href="/article/2">Lorem ipsum dolor sit amet.</a
          ><span class="text-gray-500">March 04,2026</span>
        </li>
        <li class="flex justify-between">
          <a href="#">Lorem ipsum dolor sit amet.</a
          ><span class="text-gray-500">March 04,2026</span>
        </li>
        <li class="flex justify-between">
          <a href="#">Lorem ipsum dolor sit amet.</a
          ><span class="text-gray-500">March 04,2026</span>
        </li>
        <li class="flex justify-between">
          <a href="#">Lorem ipsum dolor sit amet.</a
          ><span class="text-gray-500">March 04,2026</span>
        </li>
      </ul>
    </div>
  </body>
</html>
