<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <div class="max-w-3xl m-auto mt-4 space-y-4 flex flex-col items-center">
      <h1 class="text-4xl border-b border-gray-300 text-center py-4">
        Page not Found
      </h1>
      <a href="/" class="border-b border-transparent hover:border-gray-200"
        >Back to Home page</a
      >
    </div>
  </body>
</html>
